<div class="section-container container">
  <h1>Login de Usuario</h1>
  <div class="form-container container">
    <form id="user-form">
      <div class="form-group">
        <label for="username">Ingrese su nombre</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Nombre..."
          required
        />
      </div>
      <div class="m-auto text-center">
        <button type="submit" class="btn btn-primary m-2">Enviar</button>
      </div>
    </form>
  </div>
</div>