<div
  class="alert alert-success d-flex justify-content-between container"
  role="alert"
>
  <h1>Bienvendio {{user}}!</h1>
  <button class="btn btn-warning" id="logout-btn"><a>Desloguearse</a></button>
</div>
<script src=""></script>